- if current_user
  - unless list.can_enroll? current_user
    %button.btn.btn-disabled.btn-primary{disabled: 'disabled'} 
    / TODO move to tooltip or sth, alt: list.why_cannot_enroll(current_user)  .join("\n")}
      can't enroll
      = "(#{pluralize(list.entries.count,'entry')})"
  - else
    -if list.instant_enroll?
      = link_to "Enroll (#{pluralize(list.entries.count,'entry')} already)", entries_list_path(list), class: 'btn btn-primary', method: 'post'
    -else
      = link_to "Enroll (#{pluralize(list.entries.count,'entry')} already)", new_entry_list_path(list), class: 'btn btn-primary', target: '_blank'