%p#notice= notice
%h1 Listing Lists
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Enrolled count
      %th Owner
      %th Actions
  %tbody
    - @lists.each do |list|
      %tr
        %td
          = list.name
        %td= list.entries.count
        %td
          = list.owner_full_name
        %td
          .btn-group
            = link_to 'Show', list, class: "btn btn-primary"
            = render partial: 'enroll_button', locals: {list: list}

%br/