%p#notice= notice
%h1 Listing Lists
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Owner
      %th Actions
  %tbody
    - @lists.each do |list|
      %tr
        %td
          = list.name
        %td
          = list.owner_full_name
        %td
          .btn-group
            = link_to 'Show', list, class: "btn btn-primary"
            
%br/

= link_to 'New List', new_list_path, class: "btn btn-default"
