%h1
  = @list.name
  %small
    by
    = @list.owner_full_name
  = render partial: 'enroll_button', locals: {list: @list}
%h3
  Enrolled count:
  = @list.entries.count

%h3 Fields
%ul
  - @list.list_fields.each do |f|
    %li
      = f.public ? "PUBLIC" : ""
      = f.model_name.human
      \::
      = f.name

%h4 Iframe embed code
%pre
  = @list.iframe_embed_code
%h4 BBcode embed code
%pre
  = @list.bbcode_embed_code

/ .btn-group
/   = link_to 'Back', lists_path, class: "btn btn-default"

- if @list.entries_by(current_user).count > 0
  %h3 Your entries
  = render partial: 'entries/table', locals: {list: @list, entries: @list.entries_by(current_user), fields: @list.list_fields}

- if @list.public_list_fields.count > 0
  %h3 
    Entries
    %small displaying only public fields

  = render partial: 'entries/table', locals: {list: @list, entries: @list.entries, fields: @list.public_list_fields}