.nested-fields
  = render partial: 'field_header', locals: { f: f }
  = f.input :name
  = f.input :public, as: :boolean
  = f.input :required, as: :boolean
  = f.input :max_length
  = f.hidden_field :_type, value: 'TextField'
